<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Saram Page</h1>
    <h2><%=message_data%></h2>
    <hr>
    <table width="'100%" border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>이메일</th>
            <th>직업</th>
        </tr>
    <%
        //for(var i = 0; i<saramList.length;i++){
        saramList.forEach(function(saram){
            //var saram = saramList[i];
    %>
        <tr align="center">
            <td><%= saram.no%></td>
            <td><%= saram.name%></td>
            <td><%= saram.email%></td>
            <td><%= saram.job%></td>
        </tr>
    <%
        })
    %>
    </table>
</body>
</html>